workflow_aws_access_key_id:
workflow_aws_secret_access_key:
workflow_input_url: https://s3-us-west-2.amazonaws.com/landsat-pds/c1/L8/065/045/LC08_L1TP_065045_20210714_20210721_01_T1/LC08_L1TP_065045_20210714_20210721_01_T1_BQA.TIF
workflow_min_spin_time: 15
workflow_max_spin_time: 30
workflow_base_dataset_url: s3://hysds-dataset-bucket-gman-test/test
