workflow_aws_access_key_id:
workflow_aws_secret_access_key:
workflow_input_url: https://github.com/pymonger/downsample-landsat/releases/download/1.0.0/LC08_L1TP_065045_20211205_20211215_02_T1_QA_PIXEL.TIF
workflow_min_spin_time: 15
workflow_max_spin_time: 30
workflow_base_dataset_url: s3://hysds-dataset-bucket-gman-test/test
